<template>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th><button type="button" class="btn btn-light" @click.prevent="Filter('id')" ><b>ID</b></button></th>
                <th>isActive</th>
                <th><button type="button" class="btn btn-light" @click.prevent="Filter('age')" ><b>age</b></button></th>
                <th><button type="button" class="btn btn-light" @click.prevent="Filter('gender')" ><b>gender</b></button></th>
                <th><button type="button" class="btn btn-light" @click.prevent="Filter('company')" ><b>company</b></button></th>
                <th><button type="button" class="btn btn-light" @click.prevent="Filter('email')" ><b>email</b></button></th>
                <th><button type="button" class="btn btn-light" @click.prevent="Filter('phone')" ><b>phone</b></button></th>
                <th><button type="button" class="btn btn-light" @click.prevent="Filter('address')" ><b>address</b></button></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(employer,index) in employee" :key="employer.id">
                <td>{{employer.id}}</td>
                <td >{{employer.isActive}}</td>
                <td>{{employer.age}}</td>
                <td>{{employer.gender}}</td>
                <td >{{employer.company}}</td>
                <td>{{employer.email}}</td>
                <td>{{employer.phone}}</td>
                <td >{{employer.address}}</td>
            </tr>
            </tbody>
        </table>
        <pagination :data="laravelData" :limit="-1" @pagination-change-page="FilterPag">
            <!--<span slot="prev-nav">&lt; Previous</span>-->
            <span slot="next-nav">Read more &gt;</span>
        </pagination>
    </div>
</template>
<script>
    import axios from 'axios'
    function Employee({ id, is_active, age, gender,company,email,phone,address}) {
        this.id = id;
        this.isActive = is_active;
        this.age = age;
        this.gender = gender;
        this.company = company;
        this.email = email;
        this.phone = phone;
        this.address = address;
    }
    export default {
        data() {
            return {
                employee: [],
                error:false,
                success:false,
                successMessage:'',
                laravelData: {},
                fname_filter:'asc',
                current_filter: {
                    field:'id',
                    type: 'asc'
                }
            }
        },
        methods: {
            async Filter(field) {
                this.employee = [];
                const data = {
                    field: field,
                    type: this.fname_filter
                };
                this.current_filter = {
                    field: field,
                    type: this.fname_filter
                };
                axios.post('/employee/filter', data)
                    .then((response) => {
                        this.error = false;
                        this.success = true;
                        const data =  response.data.data;
                        data.forEach(employer => this.employee.push(new Employee(employer)));
                        this.laravelData = response.data;
                        if(this.fname_filter === 'asc'){
                            this.fname_filter = 'desc';
                        }else{
                            this.fname_filter = 'asc';
                        }
                    })
                    .catch((error) => {
                        this.errors = error.response.data.errors;
                    });
            },

            async FilterPag(page = 1) {
                const data = this.current_filter;
                axios.post('/employee/filter?page=' + page,data)
                    .then((response) => {
                        this.error = false;
                        this.success = true;
                        const data =  response.data.data;
                        data.forEach(employer => this.employee.push(new Employee(employer)));
                        this.laravelData = response.data;
                    })
                    .catch((error) => {
                        this.errors = error.response.data.errors;
                    });
            },
            async read( page = 1) {
                axios
                    .get('/employee?page=' + page)
                    .then((response) => {
                        const data =  response.data.data;
                        data.forEach(employer => this.employee.push(new Employee(employer)));
                        this.laravelData = response.data;
                    })
            },

        },
        created() {
            this.read();
        },
    }
</script>
